setlist{
    background-color: #000;
    color: #fff;
    flex-direction: row;
    font-family: arial, Helvetica, sans-serif;
}
song{
    margin-left:700px;
    display: block;
    height: 150px;
}

#first{
    margin-top: 100px;
}

title{
    position: fixed;
    width: 150px;
    top: 100px;
    margin-left: 150px;
    font-size: 50px;
    border: 2px solid #fff;
    padding: 40px;
    transition-timing-function: ease-out;
    letter-spacing: -2px;
    transition: padding 1s;
}

title:hover{
    transition: padding 2s;
    padding: 80px;
    background: #fff;
    color: #000;
}

artist{
    font-size: 70px;
    letter-spacing: -5px;
    transition-timing-function: ease-out;
}

artist:hover{
    transition: font-size 1s;
    font-size: 80px;
}

songname{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    position: relative;
    bottom: 30px;
}

genre{
    font-size: 25px;
    font-family: arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    position: relative;
}

year{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    position: relative;
    bottom: 10px;
}
